@import "./nav.css";
@import "./code.css";
@import "./page.css";
@import url(https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,700,400italic,700italic);

.no-margin {
    margin: 0 !important;
}

blockquote {
    background: #374358;
    font-size: 14px;
}

.btn {
    font-weight: 300;
    letter-spacing: 0.75px !important;
    border: 1px solid;
    border-image: initial;
    padding: 10px 23px;
    outline: none !important;
    margin: 5px 5px 0 0;
    border-radius: 0;
}

.btn-primary {
    color: white;
    background: #31a4b2 !important;
    border-color: #31a4b2 !important;
}

.btn-info {
    color: white;
    background: #5bc0de none !important;
    border-color: #5bc0de !important;
}

.btn-default {
    background: #e0e0e0 none !important;
    border-color: #e0e0e0 !important;
}

.btn-warning {
    color: white;
    background: #c83803 none !important;
    border-color: #c83803 !important;
}

.page-header {
    margin-top: 20px;
}

.title {
    font-weight: 600;
    line-height: 1.5em;
    letter-spacing: 1px;
}

.navbar {
    font-family: "Helvetica Neue", Lato, Helvetica, Arial, sans-serif;
    line-height: 80px;
    font-size: 17px;
    padding: 5px 0;
    font-weight: 300;
    color: rgb(134, 134, 134);
}

.navbar-brand a {
    color: rgb(134, 134, 134) !important;
}

.navbar-nav > .active > a {
    background-image: none !important;
    background-color: inherit !important;
    box-shadow: none !important;
    color: #fff !important;
}

.levels-list-title {
    font-weight: 500;
    letter-spacing: 0.75px !important;
}
.levels-list {
    font-weight: 400;
    letter-spacing: 0.75px !important;
}
.levels-list div {
    /* margin-bottom: 10px; */
}

.levels-list a {
    color: #31a4b2 !important;
}


.footer {
    background-color: #2e4763;
    color: white;
    font-weight: 300;
    letter-spacing: 0.75px !important;
}

.footer a {
    color: white !important;
}

.footer a:hover {
    text-decoration: underline;
}

.level-title, .difficulty {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.level-title > .title > .label {
    font-weight: 400;
    font-size: 10px !important;
}
